body {
 	background: #eee;
 	color: #333;
 	font-size: 1.5rem;
 	margin: 0 auto;
 }
 h1 {
 	font-size: 2.0em;
 }
 .center {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  min-height: 10vh;
  text-align: center;
}
#userinput, #enter {
	font-size: 1.2rem;
}
ul {
	list-style-type: none;
}
.trash-btn {
 	color: #ff6f47;
 	border: none;
 	padding: 1rem;
 	cursor: pointer;
 	font-size: 1rem;
 }